:root {
  --main-text-color: #212121;
  --main-backgroundcolor: #FFFFFF;
  --logo-color: #2196F3;

}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  background-color: var(--main-backgroundcolor);
}

ul,
h1,
h2 {
  margin: 0;
  padding: 0px;
}

.page-header {
  display: flex;
  border-bottom: 1px solid #ECECEC;
  height: 80px;
  align-items: center;
  flex-direction: row;
}

.navigation-list,
.right-navigation-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.navigation-list,
.header-navigation {
  flex-grow: 1;
}

.right-navigation-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navigation-list .navigation-elements {
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.navigation-elements:hover {
  color: var(--logo-color);
}

.navigation-elements:focus {
  color: var(--logo-color);
}

.contact-list {
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-style: normal;
}

.contact-list:hover {
  color: var(--logo-color);
}

.contact-list:focus {
  color: var(--logo-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-text-color);
  margin-right: 93px;

}

.logo::before {
  content: "Web";
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.undecorated-list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.filter-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-list {
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-list:hover {
  background-color: var(--logo-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list:focus {
  background-color: var(--logo-color);
  color: #FFFFFF;
}

.images-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.image-item {
  margin-bottom: 30px;
}

.image-list {
  width: 370px;
  list-style: none;

}

.image-item {
  border-bottom: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
}

.image-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 20px;
  margin-top: 4px;
}

/* StudioSection*/


.hero-section {
  background: #2F303A;
  box-sizing: border-box;
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.hero-section h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  margin-bottom: 30px;
}

.hero-section button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 19px 10px 20px;
}

.what-we-do-section {
  background: #FFFFFF;
}

.what-we-do-section ul,
.our-team-section ul,
.contact-list,
.navigation-elements {
  list-style: none;
}

.activities-section,
.team-images,
.studio-images {
  display: flex;
  justify-content: center;
}

.studio-images,
.activities-section,
.team-images {
  gap: 30px;
}

.team-images {
  justify-content: center;
}

.activities-title {
  margin-top: 94px;
}

.activities-item h3 {
  margin: 0px 0px 10px 0px;
}

.main-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.activities-item h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.activities-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}

.team-images-item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-section {
  background: #F5F4FA;
  width: 100%;
}

.team-images-item h3 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-images-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

footer {
  background: #2F303A;
  width: 100%;
  padding-left: 215px;
  padding-bottom: 48px;
  padding-top: 60px;
}

.contact-list-footer {
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 12px;
}

.footer-list {
  margin-top: 28px;
}

.footer-list li {
  margin-bottom: 12px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-logo:before {
  content: "Web";
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
}

#location {
  color: #FFFFFF;
}